<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> Projects Page </title>
  </head>

  <body>
    {{>header}}
    <p> The is the projects portfolio </p>
    {{>footer}}
  </body>
</html>
